ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: violet;
  color: white;
}

a {
  color: white;
  background-color: violet;
}

li{
  float: left;
  background-color: violet;
}

li:not(:first-child){
  margin-left: 10px;
}
